/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px
*/
:root {
  --opacity-change: 0; }

@keyframes cubeRotationLeft {
  0% {
    transform: rotateX(-30deg) rotateY(0deg); }
  100% {
    transform: rotateX(-30deg) rotateY(-360deg); } }

@keyframes cubeRotationRight {
  0% {
    transform: rotateX(-30deg) rotateY(0deg); }
  100% {
    transform: rotateX(-30deg) rotateY(360deg); } }

@keyframes floatingLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100rem); } }

@keyframes headlineWidthScale {
  0%,
  10%,
  100% {
    width: 0; }
  70%,
  90% {
    width: 100%; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: scale(1); } }

/* Inner Pulsing */
@keyframes pulse {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

/* Outer Pulsing */
@keyframes pulse-fade {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 5px rgba(172, 234, 101, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(234, 101, 101, 0); }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(234, 101, 101, 0); } }

@keyframes textColor {
  50% {
    opacity: 0; } }

@keyframes textColor2 {
  50% {
    opacity: 0; } }

@keyframes draw {
  0% {
    stroke-dashoffset: 4500; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes animateBg {
  0% {
    filter: hue-rotate(0); }
  100% {
    filter: hue-rotate(60deg); } }

@keyframes loading {
  0% {
    transform: scale(0); }
  70%,
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Michroma", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 53%; } }
  @media only screen and (min-width: 87em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Michroma", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer; }

.paragraph {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;
  width: 100%;
  margin-bottom: 1rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.active {
  color: #20ff03 !important;
  opacity: 1 !important; }

.open {
  opacity: 1 !important;
  display: block !important;
  visibility: visible !important;
  animation: moveInBottom 1s; }

.hide {
  display: none !important;
  visibility: hidden !important; }

.wrong-password {
  z-index: 10000;
  position: absolute;
  top: 12rem;
  left: 37rem;
  transition: all 1s; }
  .wrong-password__popup {
    z-index: 1000;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 27rem;
    left: 10rem;
    width: 30rem;
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #741010; }
  .wrong-password__close {
    position: absolute !important;
    top: -0.2rem;
    right: 0rem;
    color: #851f1f;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 1rem; }
  .wrong-password__headline {
    color: #851f1f;
    text-transform: uppercase;
    font-size: 2rem; }
  .wrong-password__info {
    color: #6b4747;
    font-size: 1.3rem; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .overlay::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(185, 22, 0, 0.2); }

#icon-loader {
  height: 5rem;
  width: 5rem; }

.headline-center {
  color: #2ea802;
  font-weight: 200; }

.withdrawal {
  color: red !important; }

.heading-h1 {
  font-size: 5.2rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .heading-h1 {
      font-size: 4rem; } }

.heading-h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
  transition: all 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .heading-h2 {
      font-size: 2.5rem; } }
  .heading-h2:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-h4 {
  transition: all 0.3s;
  font-size: 2.4rem;
  font-weight: 400; }
  .heading-h4:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .heading-h4 {
      font-size: 2rem; } }

.heading-h5 {
  text-transform: uppercase;
  font-size: 2.1rem; }

.mg-sm {
  margin-bottom: 1rem; }

.mg-mm {
  margin-bottom: 4rem; }

.mg-lm {
  margin-bottom: 9rem; }

.mg-hm {
  margin-bottom: 12rem; }

.pdb-xxs {
  padding-bottom: 2rem; }

.al-s {
  text-align: start; }

.al-c {
  text-align: center; }

.al-e {
  text-align: end; }

.hidden {
  opacity: 0;
  transform: translateY(5rem); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--green {
  background-color: #20ff03;
  z-index: 10000 !important;
  width: 100%;
  margin: 0 4rem;
  border-radius: 5px;
  font-size: 1.8rem; }

.btn--logout {
  color: white; }
  .btn--logout:hover {
    background-color: green; }

.btn--overview {
  background-color: green;
  padding: 0;
  height: 100%;
  width: 3rem;
  color: white;
  align-self: center; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    column-count: 2;
    column-gap: 4rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }

.cube__container-1 {
  position: absolute;
  bottom: 20%;
  left: 12rem;
  opacity: 0.7;
  animation: moveInBottom 2s; }

.cube__container-2 {
  position: absolute;
  bottom: 48%;
  right: 12rem;
  animation: moveInBottom 2s;
  opacity: 0.7; }

.cube__container-3 {
  position: absolute;
  bottom: 58%;
  left: 18rem;
  animation: moveInBottom 2s;
  opacity: 0.7; }

.cube__container-4 {
  position: absolute;
  bottom: 18%;
  right: 18rem;
  animation: moveInBottom 2s;
  opacity: 0.7; }

.cube__box-1 {
  position: relative;
  width: 8rem;
  height: 8rem;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: cubeRotationLeft 10s linear infinite; }
  .cube__box-1 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }

.cube__box-2 {
  position: relative;
  width: 8rem;
  height: 8rem;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: cubeRotationLeft 10s linear infinite; }
  .cube__box-2 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }

.cube__box-3 {
  position: relative;
  width: 5rem;
  height: 5rem;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: cubeRotationLeft 10s linear infinite; }
  .cube__box-3 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }

.cube__box-4 {
  position: relative;
  width: 5rem;
  height: 5rem;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: cubeRotationLeft 10s linear infinite; }
  .cube__box-4 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }

.cube__item-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000 15%, #047804);
  transform: rotateY(calc(90deg * var(--i))) translateZ(4rem); }

.cube__item-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000 15%, #047804);
  transform: rotateY(calc(90deg * var(--i))) translateZ(4rem); }

.cube__item-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000 15%, #047804);
  transform: rotateY(calc(90deg * var(--i))) translateZ(2.5rem); }

.cube__item-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000 15%, #047804);
  transform: rotateY(calc(90deg * var(--i))) translateZ(2.5rem); }

.cube__top-text-1 {
  fill: white;
  position: relative;
  font-size: 5rem;
  transform: translateZ(10rem) rotateX(270deg);
  transform-style: preserve-3d; }

.cube__top-icon {
  height: 14rem;
  width: 13rem;
  position: absolute;
  top: -2rem;
  right: -40%; }

.cube__top-text-2 {
  fill: #f4f4f4;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.3);
  position: relative;
  transform: translateZ(10rem) rotateX(270deg);
  transform-style: preserve-3d; }

.cube__top-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  background: rgba(17, 17, 17, 0.9);
  transform: rotateX(90deg) translateZ(4rem); }
  .cube__top-1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    background: #01a001;
    transform: translateZ(-16rem);
    filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4), 0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8), 0 0 10rem rgba(0, 255, 0, 0.7); }

.cube__top-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  background: rgba(17, 17, 17, 0.9);
  transform: rotateX(90deg) translateZ(4rem); }
  .cube__top-2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    background: #01a001;
    transform: translateZ(-16rem);
    filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4), 0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8), 0 0 10rem rgba(0, 255, 0, 0.7); }

.cube__top-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  background: rgba(17, 17, 17, 0.9);
  transform: rotateX(90deg) translateZ(2.5rem); }
  .cube__top-3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: #01a001;
    transform: translateZ(-10rem);
    filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4), 0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8), 0 0 10rem rgba(0, 255, 0, 0.7); }

.cube__top-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  background: rgba(17, 17, 17, 0.9);
  transform: rotateX(90deg) translateZ(2.5rem); }
  .cube__top-4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: #01a001;
    transform: translateZ(-10rem);
    filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4), 0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8), 0 0 10rem rgba(0, 255, 0, 0.7); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  overflow: hidden;
  filter: blur(6px); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.registrationContainer {
  animation: moveInBottom 0.3s; }

.loginContainer {
  animation: moveInBottom 0.3s; }

.sign-in {
  position: relative; }
  .sign-in__form {
    transform: rotateY(15deg);
    position: absolute;
    bottom: 10%;
    background-color: #222;
    opacity: 0.7;
    width: 40%;
    height: auto;
    max-height: 60rem;
    transition: max-height 0.8s ease-out;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0rem 0rem 1.4rem #124000;
    animation: moveInBottom 2s; }
    .sign-in__form-group {
      display: flex;
      margin-bottom: 2rem; }
  .sign-in__headline {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 4rem 2rem 2rem 2rem;
    width: 100%;
    color: transparent;
    opacity: 0.5;
    -webkit-text-stroke: 0.2vh #20ff03; }
  .sign-in__input {
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1.7rem;
    background-color: #333;
    border: 1px solid #222;
    border-radius: 5px;
    margin: 0 4rem;
    color: white; }
    .sign-in__input:focus {
      outline: 2px solid;
      outline-color: #17b802; }
  .sign-in__paragraph {
    margin: 0 4rem;
    font-size: 1.7rem;
    color: #f4f4f4; }

.register__input {
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.7rem;
  background-color: #333;
  border: 1px solid #222;
  border-radius: 5px;
  margin: 0 4rem;
  color: white; }
  .register__input:focus {
    outline: 2px solid;
    outline-color: #17b802; }

.pulse-text::before {
  content: "";
  display: block;
  background-color: #00b300;
  border-radius: 20px;
  position: absolute;
  bottom: 31%;
  left: 16%;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-fade 2s infinite; }

.pulse {
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px; }
  .pulse::before {
    z-index: 10;
    content: "";
    display: block;
    background-color: #08eb04;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 2.8rem;
    right: 2.6rem;
    height: 9px;
    width: 9px;
    transform: scale(1);
    animation: pulse-fade 2s infinite; }

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(circle at center, #060303 40%, #00e70036);
  animation: animateBg 10s linear infinite; }
  .loading-page__spinner {
    position: relative;
    width: 12rem;
    height: 12rem; }
    .loading-page__spinner span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(calc(18deg * var(--i))); }
      .loading-page__spinner span::before {
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background: #01a401;
        box-shadow: 0 0 1rem #01a401, 0 0 2rem #01a401, 0 0 4rem #01a401, 0 0 6rem #01a401, 0 0 8rem #01a401, 0 0 10rem #01a401;
        animation: loading 2s linear infinite;
        animation-delay: calc((0.1s * var(--i)));
        transition: all 1s; }
  .loading-page__headline {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: #01a401;
    animation: textColor 3s linear infinite; }

.main__title {
  letter-spacing: 0.3rem;
  text-align: center;
  font-weight: 400;
  line-height: 4rem;
  margin: 3rem;
  font-size: 3.5rem;
  color: #3bc405;
  border-bottom: 2px solid #3a3a3a;
  padding-bottom: 2rem;
  color: transparent;
  -webkit-text-stroke: 0.2vh #23ba0f;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.3);
  stroke-dasharray: 4500;
  animation: draw 8s linear infinite; }

.main__list {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  align-items: baseline; }

.main__item {
  font-size: 1.6rem;
  font-weight: 300;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s; }
  .main__item a:hover {
    color: #3bc405; }

.main__icon {
  margin-right: 2rem; }

.overview {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center; }
  .overview__pairs {
    height: 10rem;
    width: 100%; }
  .overview__cards {
    margin-top: 5rem;
    width: 80%; }
  .overview__info {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .overview__info-headline {
      font-size: 2.5rem; }
    .overview__info-add {
      font-size: 1.5rem;
      align-self: center;
      margin-right: 0.5rem;
      flex: 1;
      text-align: end; }
  .overview__spendings {
    width: 80%;
    flex: 1; }
    .overview__spendings-headline {
      font-size: 2.5rem; }
  .overview__chart {
    height: 20rem; }
  .overview__top {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .overview__top-logo {
      margin-top: 5rem;
      width: 20rem; }
    .overview__top-icon {
      position: absolute;
      top: 3rem;
      z-index: -1;
      right: 3rem; }
  .overview__balance {
    font-size: 3rem; }
  .overview__transactions {
    font-size: 2rem;
    flex: 1;
    width: 87%;
    overflow: scroll; }
    .overview__transactions-info {
      display: flex;
      justify-content: space-between; }
    .overview__transactions span {
      margin-right: 2rem; }
  .overview__transactionContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll; }
  .overview__transaction {
    border: 1px solid #333;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem; }
    .overview__transaction-icon {
      background-color: #222;
      padding: 0.7rem 1.3rem;
      border-radius: 2rem; }
    .overview__transaction-content {
      font-size: 1.4rem;
      flex: 1;
      margin-left: 1.4rem; }
    .overview__transaction-name {
      color: #01a001; }
    .overview__transaction-type {
      font-weight: 300; }
    .overview__transaction-price {
      font-size: 1.6rem;
      font-weight: 600;
      color: #01a001; }
    .overview__transaction-date {
      font-size: 1.4rem;
      opacity: 0.3;
      margin-right: 2rem; }

.card {
  height: 23rem;
  width: 100%;
  margin: 0 auto;
  justify-self: center;
  cursor: pointer;
  perspective: 150rem;
  transition: all 1s; }
  .card:hover .card__inner-front {
    transform: rotateY(-180deg); }
  .card:hover .card__inner-back {
    transform: rotateY(0deg); }
  .card__inner {
    perspective: 150rem;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    opacity: 0.7; }
    .card__inner-front, .card__inner-back {
      backface-visibility: hidden;
      transition: all 1s;
      width: 100%;
      transform-style: preserve-3d;
      height: 100%;
      background-image: linear-gradient(45deg, #277f30, #0e3913);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      padding: 2rem 3rem;
      z-index: 1;
      overflow: hidden; }
    .card__inner-back {
      transform: rotateY(180deg); }
    .card__inner-row {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .card__inner-mapImg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0.3;
      z-index: 1; }
    .card__inner-chip {
      width: 5rem; }
    .card__inner-visa {
      width: 7rem; }
    .card__inner-accountNumber {
      flex: 1;
      text-align: center;
      font-size: 2.5rem; }
      .card__inner-accountNumber span {
        margin: 0 1.2rem; }
    .card__inner-info {
      font-size: 0.8rem; }
    .card__inner-holder {
      font-size: 1.6rem;
      text-transform: uppercase; }
    .card__inner-validTo {
      font-size: 1.6rem; }
    .card__inner-bar {
      background-color: #222;
      position: relative;
      z-index: 1;
      height: 5rem;
      margin: 1rem -3rem 2rem -3rem; }
    .card__inner-pattern {
      width: 86%;
      display: block;
      z-index: 1; }
    .card__inner-cvv {
      background-color: white;
      color: black;
      font-size: 1.6rem;
      padding: 0.8rem 1rem; }
    .card__inner-about {
      margin-top: 1.5rem;
      line-height: 1rem; }

#chart {
  width: 100%;
  height: 100%;
  color: #009d00; }

.currencies-panel {
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.625);
  color: white;
  width: 85%;
  height: 13rem;
  margin: 0 auto;
  display: flex;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0rem 0rem 3.4rem #124000;
  border-radius: 20px; }

.currencies__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5rem;
  padding: 0rem 2rem;
  border: 1px solid #124000;
  align-content: center;
  transition: all 1s;
  grid-row-gap: 1rem;
  animation: floatingLeft 30s linear infinite; }
  .currencies__item-pair {
    grid-column: 1/-1; }
  .currencies__item-price {
    width: 10rem; }

.profile {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  position: relative;
  overflow-y: hidden; }
  .profile__headline {
    margin-top: 4rem;
    text-align: center; }
    .profile__headline p {
      width: 60%;
      margin: 0 auto; }
  .profile__middleContent {
    display: flex;
    justify-content: center;
    align-items: center; }
  .profile__logo {
    transition: all 1s;
    transform: translateX(-1.5rem);
    animation: textColor2 5s linear infinite; }
  .profile__infoBox {
    text-align: center; }
    .profile__infoBox-paragraph {
      color: #01a001;
      font-size: 1.3rem; }
    .profile__infoBox-icon {
      font-size: 3rem; }
    .profile__infoBox-bottom {
      align-self: center;
      text-align: center; }
    .profile__infoBox-header {
      font-weight: 300; }

.check-pairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem; }
  .check-pairs__headline {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #01a001; }
  .check-pairs__form {
    padding: 3rem;
    width: 50%;
    border-radius: 7px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0rem 0rem 1.1rem #124000; }
  .check-pairs__input {
    width: 100%;
    box-shadow: 0rem 0rem 1.1rem #217400;
    height: 4.5rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px; }
  .check-pairs__list {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between; }
  .check-pairs__icon {
    font-size: 2rem;
    color: #01a001; }
  .check-pairs__flag {
    width: 8rem; }
  .check-pairs__selectionBox {
    display: flex;
    flex-direction: column; }
  .check-pairs__exchangeRate {
    align-self: center;
    border-bottom: 1px solid #217400;
    padding: 1rem 2.5rem;
    border-radius: 2rem; }
  .check-pairs__button {
    background-color: #090b0c;
    color: white;
    border-radius: 5px; }
  .check-pairs__select {
    width: auto;
    padding: 0.5rem 1rem; }
  .check-pairs__chartContainer {
    margin-top: 10rem; }

.spin-win__content {
  display: flex;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  justify-content: end;
  position: relative; }

.spin-win__left {
  width: 100%;
  height: 100%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.spin-win__right {
  width: 100%;
  height: 100%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .spin-win__right img {
    margin-top: 1.5rem; }

.spin-win__container {
  width: 80%;
  position: relative; }

.spin-win__header {
  text-align: center;
  font-weight: 300;
  margin: 5rem 0; }

.spin-win__button {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 6rem;
  width: 6rem;
  background: radial-gradient(#fff 50%, #605f5f 85%);
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 600; }

.spin-win__finalValue {
  color: white;
  flex: 0 0 80%;
  font-size: 2rem;
  animation: moveInBottom 1s;
  padding-left: 2.6rem; }

.spin-win__arrow {
  font-size: 3rem;
  position: absolute;
  top: 44%;
  right: -5rem; }

.spin-win__rules {
  color: #047804;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase; }

.spin-win__rule {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  text-transform: none;
  font-size: 1.2rem;
  padding: 0.9rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 0.3rem #047804;
  border-radius: 5px;
  transition: all 0.3s; }
  .spin-win__rule:first-child {
    margin-top: 1rem; }
  .spin-win__rule:hover {
    transform: translateY(-0.4rem); }

.spin-win__scores {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  text-align: center; }

.spin-win__score {
  font-size: 3rem; }

.spin-win__deposit {
  color: white;
  box-shadow: 0 0 0.3rem #047804;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 5px; }

.spin-win__content {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center; }

#spin-win__wheel {
  width: inherit;
  height: inherit;
  top: 0;
  padding: 0; }

.transactions {
  width: 100%;
  height: 100%;
  display: flex; }
  .transactions__left {
    flex: 1;
    margin: 0 2rem; }
  .transactions__right {
    flex: 0 0 50%;
    text-align: center; }
  .transactions__header {
    margin-left: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .transactions__header img {
      margin: 1rem; }
  .transactions__headline {
    font-size: 3rem; }
  .transactions__operations {
    display: flex;
    flex-direction: column; }
  .transactions__operation {
    box-shadow: 0 0 0.3rem #01a001;
    padding: 3rem 3rem;
    border-radius: 1rem;
    margin-bottom: 2.3rem;
    position: relative; }
    .transactions__operation-title {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: #01a001; }
  .transactions__form {
    display: grid;
    grid-template-columns: 3fr 3fr 1.8fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem; }
    .transactions__form-loan {
      grid-template-columns: 3fr 2fr 1fr;
      grid-template-rows: 1fr 1fr; }
    .transactions__form-close {
      grid-column: 2fr 2fr 1fr; }
  .transactions__input {
    width: 100%;
    border: none;
    background-color: rgba(73, 73, 73, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s; }
  .transactions__button {
    color: white;
    font-size: 2rem;
    transition: all 0.3s;
    padding: 0.6rem;
    width: 59%; }
    .transactions__button:hover {
      color: #01a001;
      border-radius: 3rem; }
  .transactions__label {
    font-size: 1.3rem;
    text-align: center; }
    .transactions__label-loan {
      grid-row: 2; }
    .transactions__label-user {
      grid-row: 2; }
    .transactions__label-password {
      grid-row: 2; }
  .transactions__popup {
    z-index: 10000;
    position: absolute;
    top: 1rem;
    left: 4.5rem;
    transition: all 1s; }
    .transactions__popup-wrong {
      z-index: 1000;
      display: none;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
      position: absolute;
      width: 28rem;
      height: 13rem;
      background-color: black;
      border-radius: 10px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #741010; }
    .transactions__popup-close {
      position: absolute !important;
      top: -0.2rem;
      right: 0rem;
      color: #851f1f;
      font-size: 1.6rem;
      cursor: pointer;
      padding: 1rem; }
    .transactions__popup-headline {
      color: #851f1f;
      text-transform: uppercase;
      font-size: 2rem; }
    .transactions__popup-info {
      color: #6b4747;
      font-size: 1.3rem; }
  .transactions__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .transactions__overlay::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(185, 22, 0, 0.2); }

.main {
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.625);
  color: white;
  width: 85%;
  height: 70rem;
  margin: auto;
  display: flex;
  letter-spacing: 0.2rem;
  box-shadow: 0rem 0rem 3.4rem #124000; }
  .main__navbar {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0rem 0rem 0.3rem #124000; }
  .main__center {
    flex: 1;
    border-radius: 20px; }
  .main__right {
    border-radius: 20px; }

.section-starter {
  min-height: 100vh;
  background-color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative; }
  .section-starter__headline {
    z-index: 1;
    position: absolute;
    top: 4rem;
    opacity: 0.6;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke: 0.2vh #0f6d02;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.3); }
    .section-starter__headline::before {
      opacity: 0.8;
      content: attr(data-text);
      position: absolute;
      top: 0.4rem;
      height: 100%;
      color: #20ff03;
      -webkit-text-stroke: 0vw black;
      border-right: 2px solid #055e00e3;
      overflow: hidden;
      animation: headlineWidthScale 4s linear infinite; }
    .section-starter__headline::after {
      content: "";
      position: absolute;
      left: 1%;
      top: 95%;
      width: 100%;
      height: 3rem;
      background: #01a001;
      transform: translateZ(26rem);
      filter: blur(2rem);
      box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4), 0 0 5rem rgba(0, 255, 0, 0.6), 0, 0 4rem rgba(0, 255, 0, 0.8), 0 0 3rem rgba(0, 255, 0, 0.7);
      transform: translateZ(-10rem); }

.section-mainPage {
  min-height: 100vh;
  background: black;
  display: flex;
  position: relative;
  flex-direction: column; }
