$color-secondary: rgba(#00b300, 1);
$color-secondary-light-1: rgba(#01a401, 1);

$color-tertiary: rgba(#b40000, 1);
$color-tertiary-light-1: rgba(#ba0202, 1);

$color-white: #fff;
$color-black: #000;
$color-black-light-1: rgba(#111, 0.9);

$default-font-size: 1.6rem;
$shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.3);
$shadow-cube-green: 0 0 12rem rgba(0, 255, 0, 0.2);
