.main {
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.625);
  color: white;
  width: 85%;
  height: 80rem;

  margin: auto;
  display: flex;
  letter-spacing: 0.2rem;

  box-shadow: 0rem 0rem 3.4rem #124000;

  &__navbar {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0rem 0rem 0.3rem #124000;
  }

  &__center {
    flex: 1;
    border-radius: 20px;
    // overflow: scroll;
  }
  &__right {
    // flex: 0 0 35%;
    // box-shadow: 0rem 0rem 0.3rem #124000;
    border-radius: 20px;
  }
}
