.check-pairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100%;

  &__header {
    display: none;

    @include respond(tab-land) {
      display: block;
      font-size: 3rem;
      text-transform: uppercase;
      color: $color-secondary-light-1;
      font-weight: 300;
      margin: 3rem 0;
      animation: textColor 3s ease-in infinite;
    }
  }

  &__flag {
    width: 20rem;
    height: 20rem;
  }

  &__headline {
    position: absolute;
    font-size: 2rem !important;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-secondary-light-1;

    &::after {
      width: 0% !important;
    }

    &-1 {
      @include respond(tab-land) {
        display: none;
      }

      top: 45% !important;
      left: -9rem !important;
      font-size: 4rem !important;
      letter-spacing: 1.1rem !important;
      transform: rotate(90deg);
    }
    &-2 {
      @include respond(tab-land) {
        display: none;
      }
      font-size: 4rem !important;
      letter-spacing: 1.3rem !important;
      top: 45% !important;
      right: -13rem !important;
      transform: rotate(-90deg);
    }
  }

  &__form {
    padding: 3rem;
    width: 65%;
    border-radius: 7px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0rem 0rem 1.1rem #124000;

    @include respond(big-desktop) {
      max-width: 58%;
    }
  }

  &__input {
    width: 100%;
    box-shadow: 0rem 0rem 1.1rem #217400;
    height: 4.5rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
  }

  &__list {
    display: flex;

    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &__from {
  }

  &__icon {
    font-size: 2rem;
    color: $color-secondary-light-1;
  }

  &__flag {
    width: 7rem;
  }

  &__selectionBox select {
    display: flex;
    width: auto;
    flex-direction: column;
  }

  &__option {
    margin-top: 50rem;
  }

  &__exchangeRate {
    align-self: center;
    border-bottom: 1px solid #217400;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }

  &__button {
    background-color: rgb(9, 11, 12);
    color: white;
    border-radius: 5px;
  }

  &__select {
    width: auto;
    padding: 0.5rem 1rem;
  }

  &__chartContainer {
    @include respond(big-desktop) {
      max-width: 58%;
    }
    width: 65%;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 1.1rem #124000;
  }
}
