// cube positioning

.cube__container-1 {
  position: absolute;
  bottom: 20%;
  left: 12rem;
  opacity: 0.7;
  animation: moveInBottom 2s;
}

.cube__container-2 {
  position: absolute;
  bottom: 48%;
  right: 12rem;
  animation: moveInBottom 2s;
  opacity: 0.7;
}

.cube__container-3 {
  position: absolute;
  bottom: 58%;
  left: 18rem;
  animation: moveInBottom 2s;
  opacity: 0.7;
}

.cube__container-4 {
  position: absolute;
  bottom: 18%;
  right: 18rem;
  animation: moveInBottom 2s;
  opacity: 0.7;
}

// cube paramaters

.cube {
  &__box-1 {
    position: relative;
    width: 8rem;
    height: 8rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubeRotationLeft 10s linear infinite;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
  }

  &__box-2 {
    position: relative;
    width: 8rem;
    height: 8rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubeRotationLeft 10s linear infinite;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
  }

  &__box-3 {
    position: relative;
    width: 5rem;
    height: 5rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubeRotationLeft 10s linear infinite;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
  }

  &__box-4 {
    position: relative;
    width: 5rem;
    height: 5rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubeRotationLeft 10s linear infinite;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
  }

  /// items

  &__item-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($color-black 15%, $color-secondary);
    transform: rotateY(calc(90deg * var(--i))) translateZ(4rem);
  }
  &__item-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($color-black 15%, $color-secondary);
    transform: rotateY(calc(90deg * var(--i))) translateZ(4rem);
  }

  &__item-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($color-black 15%, $color-secondary);
    transform: rotateY(calc(90deg * var(--i))) translateZ(2.5rem);
  }

  &__item-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($color-black 15%, $color-secondary);
    transform: rotateY(calc(90deg * var(--i))) translateZ(2.5rem);
  }

  // cube item

  // cube top and bottom side

  &__top-text-1 {
    fill: white;
    position: relative;
    font-size: 5rem;

    transform: translateZ(10rem) rotateX(270deg);
    transform-style: preserve-3d;
  }

  &__top-icon {
    height: 14rem;
    width: 13rem;
    position: absolute;
    top: -2rem;
    right: -40%;
  }

  &__top-text-2 {
    fill: #f4f4f4;
    box-shadow: $shadow;
    position: relative;

    transform: translateZ(10rem) rotateX(270deg);
    transform-style: preserve-3d;
  }

  &__top-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    background: $color-black-light-1;
    transform: rotateX(90deg) translateZ(4rem);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 8rem;
      height: 8rem;
      background: $color-secondary-light-1;
      transform: translateZ(-16rem);
      filter: blur(2rem);
      box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4),
        0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8),
        0 0 10rem rgba(0, 255, 0, 0.7);
    }
  }

  &__top-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    background: $color-black-light-1;
    transform: rotateX(90deg) translateZ(4rem);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 8rem;
      height: 8rem;
      background: $color-secondary-light-1;
      transform: translateZ(-16rem);
      filter: blur(2rem);
      box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4),
        0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8),
        0 0 10rem rgba(0, 255, 0, 0.7);
    }
  }

  &__top-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: $color-black-light-1;
    transform: rotateX(90deg) translateZ(2.5rem);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4rem;
      height: 4rem;
      background: $color-secondary-light-1;
      transform: translateZ(-10rem);
      filter: blur(2rem);
      box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4),
        0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8),
        0 0 10rem rgba(0, 255, 0, 0.7);
    }
  }

  &__top-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: $color-black-light-1;
    transform: rotateX(90deg) translateZ(2.5rem);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4rem;
      height: 4rem;
      background: $color-secondary-light-1;
      transform: translateZ(-10rem);
      filter: blur(2rem);
      box-shadow: 0 0 3rem rgba(0, 255, 0, 0.2), 0 0 4rem rgba(0, 255, 0, 0.4),
        0 0 5rem rgba(0, 255, 0, 0.6), 0 0 5rem rgba(0, 255, 0, 0.8),
        0 0 10rem rgba(0, 255, 0, 0.7);
    }
  }
}
