.overview {
  display: flex;

  &__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 0 57%;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    position: relative;
    display: flex;
    flex-direction: column;

    // justify-content: center;
    flex: 0 0 48%;
  }

  &__pairs {
    height: 10rem;
    width: 100%;
  }

  &__cards {
    margin-top: 5rem;
    width: 80%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &-headline {
      font-size: 2.5rem;
    }

    &-add {
      font-size: 1.5rem;
      align-self: center;
      margin-right: 0.5rem;
      flex: 1;
      text-align: end;
    }
  }

  &__spendings {
    width: 80%;
    flex: 1;

    &-headline {
      font-size: 2.5rem;
    }
  }
  &__chart {
    height: 25rem;
  }

  // overview (main__right)

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-logo {
      margin-top: 5rem;
      width: 20rem;
    }
    &-icon {
      position: absolute;
      top: 2rem;
      z-index: -1;
      right: 11rem;
    }
  }

  &__balance {
    font-size: 3rem;
  }

  &__transactions {
    font-size: 2rem;
    flex: 1;
    width: 87%;
    overflow: scroll;

    &-info {
      display: flex;
      justify-content: space-between;
    }
    span {
      margin-right: 2rem;
    }
  }

  &__transactionContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    height: 30rem;
  }

  &__transaction {
    border: 1px solid #333;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;

    &-icon {
      background-color: #222;
      padding: 0.7rem 1.3rem;
      border-radius: 2rem;
    }

    &-content {
      font-size: 1.4rem;
      flex: 1;
      margin-left: 1.4rem;
    }
    &-name {
      color: $color-secondary-light-1;
    }

    &-type {
      font-weight: 300;
    }

    &-price {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-secondary-light-1;
    }

    &-date {
      font-size: 1.4rem;
      opacity: 0.3;
      // color: $color-secondary-light-1;
      margin-right: 2rem;
    }

    &-deposit {
      color: $color-secondary-light-1;
    }
    &-withdrawal {
      color: red;
    }
  }
}
