.profile {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  position: relative;
  overflow-y: hidden;

  &__headline {
    margin-top: 2rem;
    text-align: center;

    p {
      width: 60%;
      margin: 0 auto;
    }
  }

  &__middleContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    transition: all 1s;
    transform: translateX(-1.5rem);
    animation: textColor2 5s linear infinite;
  }

  &__infoBox {
    text-align: center;

    &-paragraph {
      color: $color-secondary-light-1;
      font-size: 1.3rem;
    }

    &-icon {
      font-size: 3rem;
    }

    &-bottom {
      align-self: center;
      text-align: center;
    }

    &-header {
      font-weight: 300;
    }

    &-card {
    }
  }

  &__button {
    width: 30%;
    margin: 0 auto;
  }
}
