.pulse-text {
  &::before {
    content: "";
    display: block;
    background-color: #00b300;
    border-radius: 20px;
    position: absolute;
    bottom: 31%;
    left: 16%;

    height: 10px;
    width: 10px;
    transform: scale(1);
    animation: pulse-fade 2s infinite;
  }

  &:hover {
  }
}

.pulse {
  border-radius: 10px;
  position: absolute;
  z-index: 10;

  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;

  &::before {
    z-index: 10;
    content: "";
    display: block;
    background-color: #08eb04;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 1.8rem;
    right: 10.6rem;

    height: 9px;
    width: 9px;
    transform: scale(1);
    animation: pulse-fade 2s infinite;
  }
}
