.spin-win {
  &__content {
    display: flex;
    margin-top: 5rem;

    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: relative;

    @include respond(tab-port) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }

  &__headline {
    display: none;

    @include respond(tab-port) {
      display: block;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      color: $color-secondary-light-1;
      margin: 4rem 0;
      animation: textColor 3s;
    }
  }
  &__left {
    width: 100%;
    height: 100%;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 10rem;
  }
  &__right {
    width: 100%;
    height: 100%;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-top: 1.5rem;
    }
  }

  &__container {
    width: 80%;
    position: relative;
  }

  &__header {
    text-align: center;
    font-weight: 300;
    margin: 5rem 0;
  }

  &__button {
    position: absolute;
    top: 40%;
    left: 41%;
    height: 6rem;
    width: 6rem;
    background: radial-gradient(#fff 50%, rgb(96, 95, 95) 85%);
    font-size: 1.8rem;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: 600;
    @include respond(big-desktop) {
      top: 40%;
      left: 41%;
    }

    @include respond(tab-land) {
      top: 40%;
      left: 41%;
    }
    @include respond(tab-port) {
      top: 40%;
      left: 42%;
      height: 8rem;
      width: 8rem;
    }
  }

  &__finalValue {
    color: white;
    flex: 0 0 80%;
    font-size: 2rem;
    animation: moveInBottom 1s;
    // padding-left: 2.6rem;
    text-align: center;

    @include respond(tab-port) {
      padding-left: 0;
      margin-bottom: 4rem;
    }
  }

  &__arrow {
    font-size: 3rem;
    position: absolute;
    top: 44%;
    right: -5rem;
  }

  &__rules {
    color: $color-secondary;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;

    @include respond(tab-land) {
      margin-top: 3rem;
    }
  }
  &__rule {
    &:first-child {
      margin-top: 1rem;
    }

    width: 80%;
    margin: 0 auto;
    color: #fff;
    text-transform: none;
    font-size: 1.2rem;
    padding: 0.9rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 0.3rem $color-secondary;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-0.4rem);
    }
  }

  &__scores {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    text-align: center;
  }

  &__score {
    font-size: 3rem;
  }

  &__deposit {
    color: white;
    box-shadow: 0 0 0.3rem $color-secondary;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 5px;

    @include respond(tab-land) {
      font-size: 2.3rem;
      padding: 1.5rem 2.5rem;
      margin: 3rem 0;
    }
  }

  &__content {
    width: fit-content;
    margin: 2 auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__balance {
    font-size: 3rem;
  }
}

#spin-win__wheel {
  width: inherit;
  height: inherit;
  top: 0;
  padding: 0;
}
